.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border: 1px solid #eee;
  border-radius: .5rem;

  .cardItem {
    border-radius: 15px;
  }
}

.links-list {
  list-style: none;
  padding-left: 0;
}

.cardAvatar {
  max-width: 20rem; 
  height: 20rem;
  border-radius: 10px;
}

@media(max-width: 500px) {
  .cardLayout {
    flex-direction: column;
    align-items: center;
  }

  .cardAvatar {
    max-width: 10rem;
    height: auto;
  }
}
